body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#contenido {
    width: 300px;
    height: 600px;
    background-color: aqua;
}

.piso {
    width: 300px;
    height: 200px;
}

#planta-baja {
    background-color: blue;
}

#planta-media {
    background-color: red;
}

#planta-alta {
    background-color: green;
}