* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #390346;
}

#contenido {
    width: 300px;
    height: 500px;
}

.contenedor {
    position: relative;
}

.pieza {
    position: absolute;
}

.techo {
    width: 300px;
    height: 6.68px;
    background-color: lightgrey;
}

.piso {
    width: 300px;
    height: 160px;
}

.ventana {
    position: absolute;
    border: 2px solid black;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hoja {
    width: 30%;
    height: 80%;
    background-color: rgb(120, 152, 194);
    border: 2px solid black;
    float: left;
}

.separacion-ventana {
    position: absolute;
    top: 0;
    left: 49.5%;
    width: 2px;
    height: 100%;
    background-color: black;
}

.ladrillo {
    border: 1px solid lightgrey;
    float: left;
}

.ladrillo-costado {
    width: 30px;
    height: 32px;
    background-color: #aa643c;
    background-image: linear-gradient(180deg, 
     #c77e4a 4px, 
        transparent 4px, 
        transparent 13px,
        #c77e4a 13px,
        #c77e4a 17px,
        transparent 17px,
        transparent 26px, 
        #c77e4a 26px), 
    linear-gradient(90deg, 
      #c77e4a 4px, 
        transparent 4px, 
        transparent 12px,
        #c77e4a 12px,
        #c77e4a 16px,
        transparent 16px,
        transparent 24px, 
        #c77e4a 24px);
    background-size: 30px 38px;
    background-repeat: no-repeat;
}

.ladrillo-frente {
    width: 60px;
    height: 32px;
    background-image: linear-gradient(180deg, 
        #c77e4a 4px, 
        #aa643c 4px,
        #aa643c 6px, 
        #c77e4a 6px,
        #c77e4a 8px,
        #aa643c 8px, 
        #aa643c 10px,
        #c77e4a 10px);
    background-size: 60px 16px;
}

/* PLANTA BAJA */

#planta-baja {
    background-color: rgb(121, 197, 173);
}

#planta-baja #porta-lampara {
    width: 11px;
    height: 10px;
    top: 0px;
    left: 129px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color:peachpuff;
}

#planta-baja #lampara {
    width: 8px;
    height: 10px;
    top: 10px;
    left: 130px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 5px whitesmoke;
    
}

#planta-baja #reja-ventana {
    width: 142px;
    height: 100px;
    top: 25px;
    left: 144px;
    background-image: linear-gradient(transparent 13px,brown 13px,brown 17px, transparent 17px), 
    linear-gradient(90deg, transparent 20px, brown 20px,brown 23px, transparent 23px,transparent 43px, brown 43px,brown 46px, transparent 46px,transparent 66px, brown 66px);
    background-size: 10px 31px, 72px 20px;

    border: 4px solid brown;
    z-index: 1;
}

#planta-baja #ventana-planta-baja {
    width: 130px;
    height: 80px;
    top: 35px;
    left: 150px;
}

#planta-baja #ventana-planta-baja .hoja {
    background-color:white;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size: 3px 3px;
}

#planta-baja #puerta {
    width: 90px;
    height: 140px;
    bottom: 0;
    left: 30px;
    border: 2px solid black;
    background-color: midnightblue;
}

#puerta #marco {
    width: 72px;
    height: 130px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    top: 7px;
    left: 7px;
}

#puerta #puerta-detalle {
    width: 61px;
    height: 124px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-image: linear-gradient( rgb(0, 0, 88) 2px, transparent 2px, transparent 4px, rgb(0, 0, 88) 4px, rgb(0, 0, 88) 6px, transparent 6px);
    background-size: 30px 22px;
    background-position: 0px 100px;
    top: 13px;
    left: 13px;
}

#puerta #mirilla {
    width: 12px;
    height: 12px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: silver;
    top: 35px;
    left: 39px;
}

#mirilla #visor {
    width: 6px;
    height: 6px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: lightsteelblue;
    top: 1px;
    left: 1px;
}

#puerta #picaporte {
    width: 10px;
    height: 30px;
    background: linear-gradient(90deg, black 0.25px, silver, black 9.75px);
    border-radius: 30%;
    top: 60px;
    left: 55px;
}

#puerta #cerradura {
    width: 4px;
    height: 2px;
    background-color: black;
    top: 80px;
    left: 67px;
}


/* PLANTA MEDIA */

#planta-media #ventana-planta-media {
    width: 180px;
    height: 100px;
    top: 30px;
    left: 60px;
}

#ventana-planta-media #rollo-cortina {
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgb(218, 171, 111) 7px, darkgoldenrod 7px, darkgoldenrod 10px);
    background-size: 30px 10px;
    border-bottom: 3px solid darkgoldenrod;
    z-index: 1;
    transition: 0.25s height ease;
}

#ventana-planta-media #rollo-cortina:hover {
    height: 100%;
}

/* PLANTA ALTA */

#planta-alta #ventana-planta-alta {
    width: 160px;
    height: 90px;
    top: 30px;
    left: 70px;
}

#planta-alta #ventana-planta-alta .hoja {
    background-image: url(flowers.jpg);
    background-size: 70px 70px;
}

/* BASE DE LA CASA */

#base {
    width: 320px;
    height: 30px;
    background-color: dimgrey;
}