* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#contenido {
    width: 300px;
    height: 600px;
}

.contenedor {
    position: relative;
}

.pieza {
    position: absolute;
}

.techo {
    width: 300px;
    height: 10px;
    background-color: lightgrey;
}

.piso {
    width: 300px;
    height: 190px;
}

.ventana {
    position: absolute;
    border: 5px solid black;
    background-color: blanchedalmond;
}

.ladrillo {
    border: 2px solid lightgrey;
    float: left;
}

.ladrillo-costado {
    width: 30px;
    height: 38px;
    background-color: #bf7041;
    background-image: linear-gradient(180deg, 
        #d58852 4px, 
        transparent 4px, 
        transparent 15px,
        #d58852 15px,
        #d58852 19px,
        transparent 19px,
        transparent 30px, 
        #d58852 30px), 
    linear-gradient(90deg, 
        #d58852 4px, 
        transparent 4px, 
        transparent 11px,
        #d58852 11px,
        #d58852 15px,
        transparent 15px,
        transparent 22px, 
        #d58852 22px);
    background-size: 30px 38px;
    background-repeat: no-repeat;
}

.ladrillo-frente {
    width: 60px;
    height: 38px;
    background-color: #d58852;
    background-image: linear-gradient(180deg, 
        #d58852 5px, 
        #bf7041 5px,
        #bf7041 7px, 
        #d58852 7px,
        #d58852 10px,
        #bf7041 10px, 
        #bf7041 12px,
        #d58852 12px);
    background-size: 60px 19px;
}

#planta-baja {
    background-color: blue;
}

#ventana-planta-baja {
    width: 100px;
    height: 70px;
    top: 50px;
    left: 150px;
}

#puerta {
    width: 75px;
    height: 100px;
    bottom: 0;
    left: 50px;
    border: 5px solid black;
    background-color: blanchedalmond;
}

#planta-media {

}

#ventana-planta-media {
    width: 180px;
    height: 100px;
    top: 40px;
    left: 60px;
}

#planta-alta {

}

#ventana-planta-alta {
    width: 100px;
    height: 70px;
    top: 50px;
    left: 100px;
}
